body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    background-color: #ead6cb;
    --primary: #a1683a;
    --secondary: #fbf7f4;
    --secondary-dark: 
}
.heading-wrapper {
    display: grid;
    background-color: var(--primary);
    padding: 5%;
    width: 100vw;
    text-align: center;
    margin-bottom: 17px;
}
.heading {
    font-family: GothamPro;
    font-weight: 800;
    color: var(--secondary);
    font-size: 4.5vw;
}
@media screen and (max-width: 500px) {
    .heading {
        font-size: 8vw;
    }
}
.filter-buttons-container {
    text-align: center;
    width: 100%;
    margin-bottom: 9px;
}
.filter-buttons {
    margin-bottom: 2.5vh;
    max-width: 85%;
    margin: auto;
    text-align: center;
    align-items: center;
}

#animated-thumbnails {
    margin: auto;
    width: 90vw;
    user-select: none;
}
.iso-bold {
    font-weight: 550;
}
.cam-settings {
    font-family: "JetBrains Mono" !important ;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    word-spacing: 1px;
}
.caption-text {
    color: #9c9c9c;
}
.material-icons {
    vertical-align: middle !important;
    padding-bottom: 4px;
    font-size: 16px !important;
}
.lg-toolbar {
    padding-right: 0.5em;
}
.btn-custom-primary,
.btn-custom-outline-primary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
}
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--secondary);
    margin-left: 4px;
    margin-right: 4px;
}
.btn-outline-primary {
    border-color: var(--primary);
    color: var(--primary);
    margin-left: 4px;
    margin-right: 4px;
}
.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: var(--primary);
    color: var(--secondary);
    border-color: var(--primary);
}
.btn-primary:selected {
    background-color: var(--primary);
    color: var(--secondary);
    border-color: var(--primary);
}
.btn-primary:focus {
    background-color: var(--primary);
    color: var(--secondary);
    border-color: var(--primary);
    box-shadow: none !important;
}
.jg-caption {
    text-align: center;
    padding-left: 10px;
    font-family: Inter, sans-serif !important;
    font-size: 15px !important;
}