body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    background-color: #ead6cb;
    --bg-color: #ead6cb;
    --primary: #524948;
    --secondary: #70F8BA;
    --secondary-dark: 
}
.heading-wrapper {
    display: grid;
    background-color: var(--primary);
    padding: 5%;
    padding-bottom: 1.5%;
    width: 100vw;
    text-align: center;
    margin-bottom: 17px;
}
.heading {
    font-family: GothamPro;
    font-weight: 800;
    color: var(--secondary);
    font-size: 4.5vw;
    margin-bottom: 18px;
}
@media screen and (max-width: 500px) {
    .heading {
        font-size: 8vw;
    }
}
.filter-buttons-container {
    text-align: center;
    width: 100%;
    margin-bottom: 9px;
}
.filter-buttons {
    margin-bottom: 2.5vh;
    max-width: 85%;
    margin: auto;
    text-align: center;
    align-items: center;
}
.card {
    --bs-card-bg: #7a51cc;
    --bs-card-color: ;
    --bs-card-border-color: none;
    border-radius: 5px 5px 0 0;
}
.card-about-custom {
    
}
.btn-primary-about {
    background-color: #7a51cc;
    border: none;
    color: rgba(248,249,250,1);
}
.collapse-custom {
    max-width: 40%;
    margin: auto;
    color: #e9ecef;
}

#animated-thumbnails {
    margin: auto;
    width: 90vw;
    user-select: none;
}
.iso-bold {
    font-weight: 550;
}
.cam-settings {
    font-family: "JetBrains Mono" !important ;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    word-spacing: 1px;
}
.caption-text {
    color: #9c9c9c;
}
.material-icons {
    vertical-align: middle !important;
    padding-bottom: 4px;
    font-size: 16px !important;
}
.lg-toolbar {
    padding-right: 0.5em;
}
.btn-primary-filter {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: #dee2e6 !important;
    margin-left: 4px;
    margin-right: 4px;
}
.btn-outline-primary-filter {
    border-color: var(--primary);
    color: var(--primary);
    margin-left: 4px;
    margin-right: 4px;
}
.btn-primary-filter:hover,
.btn-outline-primary-filter:hover, btn-primary-filter:active {
    background-color: var(--primary);
    color: #dee2e6;
    border-color: var(--primary);
}
.btn-primary-filter:focus {
    background-color: var(--primary);
    color: #dee2e6;
    border-color: var(--primary);
    box-shadow: none !important;
}
.jg-caption {
    text-align: center;
    padding-left: 10px;
    font-family: Inter, sans-serif !important;
    font-size: 15px !important;
}