body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #567C73;
    background-image: url("images/background3edited.png");
    background-blend-mode: soft-light;
    background-size: 100%;
}

header {
    padding: 20px;
    text-align: center;
    color: white;
    font-family: "Patrick Hand SC", cursive;
}

.header-text {
    font-size: 65px;
}

.side {
    display: inline-block;
    font-size: 50px; 
    font-family: 'Patrick Hand SC', sans-serif; 
    padding: 5px;
    line-height: 43px;
    border-radius: 10px;
    height: 51px;
}

.side-blue {
    color: #2bf5ff;
    background-color:#2bf5ff7d;
}
.side-green {
    color: #2bff38;
    background-color:#2bff386e;
}

.cat-list {
    padding: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.separator-dside {
    border: none;
  border-top: 3px solid #d8fca8;
    color: #d8fca8;
    margin-top: 30px; 
    margin-bottom: 30px; 
    width: 100%;
      text-align: center;
      overflow: visible;
}

.separator-dside::after {
    background: #567C73;
    padding: 0 10px;
    content: "D Side";
    position: relative;
    top: -20px;
    font-size: 30px;
}

.separator-cside {
    border: none;
  border-top: 3px solid #d8fca8;
    color: #d8fca8;
    margin-top: 30px; 
    margin-bottom: 30px; 
    width: 100%;
      text-align: center;
      overflow: visible;
}

.separator-cside::after {
    background: #567C73;
    padding: 0 10px;
    content: "C Side";
    position: relative;
    top: -20px;
    font-size: 30px;
}

.cat-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #efc20f;
    border-radius: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.yellow {
    background-color: #efc20f;
}

.pink {
    background-color: #fb6f84;
}

.pink .cat-name {
    color: #ffcf10;
}

.yellow .cat-name {
    color: #ff6b81;
}

.cat-name {
    font-family: "Patrick Hand SC", cursive;
    font-size: 40px;
    font-weight: 600;
    margin: 10px;
}

.cat-item img {
    max-width: 300px;
    object-fit: cover;
    border-radius: 25px;
    margin-right: 20px;
    flex-shrink: 0;
}

.cat-description {
    flex: 1;

    align-items: start;
    height: 100%;
}

.cat-description h2 {
    margin: 0 0 10px;
    flex-shrink: 1;
}

.description-info {
    font-family: 'Lexend', sans-serif;
    color: #333333;
    font-style: italic;
    margin: 5px;
}

.description-text {
    margin: 3px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    text-align: justify;
    text-justify: inter-word;
}


@media (max-width: 600px) {
    .cat-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cat-item p {
        text-align: justify !important;
    }

    .cat-item img {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    .cat-description {
        width: 100%;
    }
}